body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Set the background color */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


.blog-post {
    margin-bottom: 30px;
    background-color: #fff; /* Set the background color */
    padding: 20px; /* Add padding for better readability */
    border-radius: 10px; /* Add border radius for a rounded look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.blog-post h2 {
    color: blue;
}

.blog-post p {
    color: #333; 
    font-size: 16px;
    line-height: 1.5;
}

.read-more {
    color: #fff;
    background-color: #007bff; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border: 1px solid #007bff; 
    padding: 10px 20px;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}