/* Contact.css */

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Adjust as needed */
  }
  
  .contact-info-box {
    margin-bottom: 30px; /* Adjust as needed */
  }
  
  .contact-info-list {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-info-item {
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .contact-info-link {
    color: #007bff; /* Adjust link color as needed */
    text-decoration: none;
  }
  
  .contact-form-box {
    text-align: center;
  }
  
  .contact-input,
  .contact-textarea {
    width: 100%;
    margin-bottom: 15px; /* Adjust as needed */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Adjust border color as needed */
  }
  
  .contact-submit-btn {
    background-color: #007bff; /* Adjust button color as needed */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-submit-btn:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
  }
  